config/deploy/AADSCA-Playbook.arm.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Import-AADSCAbySentinel",
            "type": "string"
        },
        "LogAnalyticsWorkspaceName": {
            "defaultValue": "",
            "type": "string"
        },
        "LogAnalyticsWorkspaceId": {
            "defaultValue": "",
            "type": "string"
        },
        "LogAnalyticsWorkspaceKey": {
            "defaultValue": "",
            "type": "securestring"
        },
        "LAWSResourceGroup": {
            "defaultValue": "",
            "type": "string"
        },
        "LAWSSubscriptionId": {
            "defaultValue": "",
            "type": "string"
        },
        "LAWSConnectionName": {
            "defaultValue": "connection-Import-AADSCAtoLAWS",
            "type": "string"
        },
        "SentinelTriggerConnectionName": {
            "defaultValue": "connection-Import-AADSCASentinelTrigger",
            "type": "string"
        }        
    },
    "variables": {
        "LAWSConnectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('LAWSConnectionName'))]",
        "LAWSConnectionApiId": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]",
        "SentinelTriggerConnectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('SentinelTriggerConnectionName'))]",
        "SentinelTriggerConnectionApiId": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
        "WorkbookSourceId" : "[concat('/subscriptions/', parameters('LAWSSubscriptionId'), '/resourcegroups/', parameters('LAWSResourceGroup'), '/providers/microsoft.operationalinsights/workspaces/', parameters('LogAnalyticsWorkspaceName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('SentinelTriggerConnectionName')]",
            "location": "[resourceGroup().location]",            
            "properties": {
                "displayName": "Microsoft Sentinel Incident Trigger",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[variables('SentinelTriggerConnectionApiId')]"
                }
            }
        },        
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('LAWSConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('LAWSConnectionName')]",
                "customParameterValues": {},
                "nonSecretParameterValues": {
                    "token:TenantId": "[subscription().tenantId]",
                    "token:grantType": "code"
                },
                "parameterValues": {
                    "username": "[parameters('LogAnalyticsWorkspaceId')]",
                    "password": "[parameters('LogAnalyticsWorkspaceKey')]"
                  },
                "api": {
                    "name": "azureloganalyticsdatacollector",
                    "displayName": "Azure Log Analytics Data Collector",
                    "description": "Azure Log Analytics Data Collector will send data to any Azure Log Analytics workspace.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1549/1.0.1549.2680/azureloganalyticsdatacollector/icon.png",
                    "brandColor": "#0072C6",
                    "id": "[variables('LAWSConnectionApiId')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "dependsOn" : [
                "[variables('LAWSConnectionId')]",
                "[variables('SentinelTriggerConnectionId')]"                
            ],
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    },
                    "actions": {
                        "For_each_Data_Sources_from_AADSCA": {
                            "actions": {
                                "Switch_CollectedBy": {
                                    "cases": {
                                        "Case_Logic_App": {
                                            "actions": {
                                                "For_each_ControlArea": {
                                                    "actions": {
                                                        "Microsoft_Graph_Call_for_AAD_SCA_Control": {
                                                            "inputs": {
                                                                "authentication": {
                                                                    "audience": "https://graph.microsoft.com",
                                                                    "type": "ManagedServiceIdentity"
                                                                },
                                                                "method": "GET",
                                                                "uri": "@items('For_each_ControlArea')['GraphUri']"
                                                            },
                                                            "runAfter": {
                                                                "Set_variable_to_Graph_Endpoint_URL": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http"
                                                        },
                                                        "Set_variable_to_Graph_Endpoint_URL": {
                                                            "inputs": {
                                                                "name": "GraphEndpoint",
                                                                "value": "@items('For_each_ControlArea')['GraphUri']"
                                                            },
                                                            "runAfter": {},
                                                            "type": "SetVariable"
                                                        },
                                                        "Switch_on_ExpandValue": {
                                                            "cases": {
                                                                "Case": {
                                                                    "actions": {
                                                                        "For_each_multi-value_Microsoft_Graph_Response": {
                                                                            "actions": {
                                                                                "Send_Data_to_Azure_Log_Analytics_Workspace_from_Multi_Value": {
                                                                                    "inputs": {
                                                                                        "body": "@{items('For_each_multi-value_Microsoft_Graph_Response')}",
                                                                                        "headers": {
                                                                                            "Log-Type": "@items('For_each_Data_Sources_from_AADSCA')['TargetTable']"
                                                                                        },
                                                                                        "host": {
                                                                                            "connection": {
                                                                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                                                            }
                                                                                        },
                                                                                        "method": "post",
                                                                                        "path": "/api/logs"
                                                                                    },
                                                                                    "runAfter": {},
                                                                                    "type": "ApiConnection"
                                                                                }
                                                                            },
                                                                            "foreach": "@body('Parse_JSON_from_multi-value_Microsoft_Graph_response')?['value']",
                                                                            "runAfter": {
                                                                                "Parse_JSON_from_multi-value_Microsoft_Graph_response": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "Foreach"
                                                                        },
                                                                        "Parse_JSON_from_multi-value_Microsoft_Graph_response": {
                                                                            "inputs": {
                                                                                "content": "@body('Microsoft_Graph_Call_for_AAD_SCA_Control')",
                                                                                "schema": {
                                                                                    "properties": {
                                                                                        "@@odata.context": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "value": {
                                                                                            "items": {
                                                                                                "type": "object"
                                                                                            },
                                                                                            "type": "array"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "runAfter": {},
                                                                            "type": "ParseJson"
                                                                        }
                                                                    },
                                                                    "case": "True"
                                                                }
                                                            },
                                                            "default": {
                                                                "actions": {
                                                                    "Send_Data_to_Azure_Log_Analytics_Workspace_as_Single_Value": {
                                                                        "inputs": {
                                                                            "body": "@{body('Microsoft_Graph_Call_for_AAD_SCA_Control')}",
                                                                            "headers": {
                                                                                "Log-Type": "@items('For_each_Data_Sources_from_AADSCA')['TargetTable']"
                                                                            },
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "post",
                                                                            "path": "/api/logs"
                                                                        },
                                                                        "runAfter": {},
                                                                        "type": "ApiConnection"
                                                                    }
                                                                }
                                                            },
                                                            "expression": "@items('For_each_Data_Sources_from_AADSCA')['ExpandValue']",
                                                            "runAfter": {
                                                                "Microsoft_Graph_Call_for_AAD_SCA_Control": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Switch"
                                                        }
                                                    },
                                                    "foreach": "@items('For_each_Data_Sources_from_AADSCA')['ControlArea']",
                                                    "runAfter": {},
                                                    "type": "Foreach"
                                                }
                                            },
                                            "case": "LogicApp"
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@items('For_each_Data_Sources_from_AADSCA')['CollectedBy']",
                                    "runAfter": {},
                                    "type": "Switch"
                                }
                            },
                            "foreach": "@body('Parse_JSON_from_AAD_Security_Data_Sources')",
                            "runAfter": {
                                "Parse_JSON_from_AAD_Security_Data_Sources": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_AADSCA_Configuration": {
                            "inputs": {
                                "headers": {
                                    "": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://raw.githubusercontent.com/Cloud-Architekt/AzureAD-Attack-Defense/AADSCAv3/config/AadSecConfigV3.json"
                            },
                            "runAfter": {
                                "Initialize_variable_for_MS_Graph_Endpoint_Version": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_variable_for_Custom_Table_Name": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LaCustomTableName",
                                        "type": "string",
                                        "value": "AADSCA"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_for_MS_Graph_Endpoint": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GraphEndpoint",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_for_Custom_Table_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_for_MS_Graph_Endpoint_Version": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GraphEndpointVersion",
                                        "type": "string",
                                        "value": "beta"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_for_MS_Graph_Endpoint": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON_from_AAD_Security_Data_Sources": {
                            "inputs": {
                                "content": "@body('Get_AADSCA_Configuration')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Category": {
                                                "type": "string"
                                            },
                                            "CollectedBy": {
                                                "type": "string"
                                            },
                                            "ControlArea": {
                                                "items": {
                                                    "properties": {
                                                        "ControlName": {
                                                            "type": "string"
                                                        },
                                                        "Controls": {
                                                            "items": {
                                                                "properties": {
                                                                    "CurrentValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "DefaultValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "Description": {
                                                                        "type": "string"
                                                                    },
                                                                    "DisplayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "MitreMitigation": {
                                                                        "type": "array"
                                                                    },
                                                                    "MitreTactic": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "MitreTechnique": {
                                                                        "type": "array"
                                                                    },
                                                                    "Name": {
                                                                        "type": "string"
                                                                    },
                                                                    "PortalDeepLink": {
                                                                        "type": "string"
                                                                    },
                                                                    "Recommendation": {
                                                                        "type": "string"
                                                                    },
                                                                    "RecommendedValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "Severity": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Name",
                                                                    "DisplayName",
                                                                    "CurrentValue",
                                                                    "DefaultValue",
                                                                    "RecommendedValue",
                                                                    "Recommendation",
                                                                    "Severity",
                                                                    "MitreTactic",
                                                                    "MitreTechnique",
                                                                    "MitreMitigation",
                                                                    "PortalDeepLink",
                                                                    "Description"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Description": {
                                                            "type": "string"
                                                        },
                                                        "GraphDocsUrl": {
                                                            "type": "string"
                                                        },
                                                        "GraphEndpoint": {
                                                            "type": "string"
                                                        },
                                                        "GraphUri": {
                                                            "type": "string"
                                                        },
                                                        "MitreMitigation": {
                                                            "type": "array"
                                                        },
                                                        "MitreTactic": {
                                                            "type": "array"
                                                        },
                                                        "MitreTechnique": {
                                                            "type": "array"
                                                        }
                                                    },
                                                    "required": [
                                                        "ControlName",
                                                        "Description",
                                                        "GraphEndpoint",
                                                        "GraphUri",
                                                        "MitreTactic",
                                                        "MitreTechnique",
                                                        "MitreMitigation",
                                                        "Controls"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Description": {
                                                "type": "string"
                                            },
                                            "ExpandValue": {
                                                "type": "string"
                                            },
                                            "TargetTable": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Category",
                                            "Description",
                                            "CollectedBy",
                                            "ExpandValue",
                                            "TargetTable",
                                            "ControlArea"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "runAfter": {
                                "Get_AADSCA_Configuration": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[variables('LAWSConnectionId')]",
                                "connectionName": "[parameters('LAWSConnectionName')]",
                                "id": "[variables('LAWSConnectionApiId')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[variables('SentinelTriggerConnectionId')]",
                                "connectionName": "[parameters('SentinelTriggerConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[variables('SentinelTriggerConnectionApiId')]"
                            }                            
                        }
                    }
                }
            }
        }
    ]
}